<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Form test</title>
  </head>
  <body>
      <h1>From Test</h1>
    {{ message }}
    <form action="" method="POST" >
        <input type="text" name="firstName">
        <input type="text" name="lastName">
        
        <button type="submit">Save</button>
    </form>
    
  </body>
</html>