<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    {{ message }}
    <form action="" method="POST" >
        <input type="text" name="firstName">
        <input type="text" name="lastName">
        
        <button type="submit">Save</button>
    </form>
    <script src="javascript/main.js"></script>
  </body>
</html>