<h1>
    Testing Center
</h1>

<a mat-list-item routerLink=".">
    <mat-icon>info</mat-icon>
    <span>About</span>
</a>

<a mat-list-item routerLink=".">
    <mat-icon>question_answer</mat-icon>
    <span>FAQ</span>
</a>

<a mat-list-item routerLink="privacy-policy">
    <mat-icon>security</mat-icon>
    <span>Privacy Policy</span>
</a>

<a mat-list-item routerLink=".">
    <mat-icon>bug_report</mat-icon>
    <span>Report a bug</span>
</a>

<a mat-list-item routerLink=".">
    <mat-icon>contact_support</mat-icon>
    <span>Contact</span>
</a>
