.main-wrapper {
  display: flex;
  margin: 0 1rem;
  min-height: 80vh;
  app-sidebar {
    width: 300px;
  }
  main {
    width: 100%;
   
  }
}

.side-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}