<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="login-header">
      <img src="/assets/images/logo.jpg" alt="logo">
    </div>TestingCenter</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">About</a>
      <a mat-list-item href="#">FAQ</a>
      <a mat-list-item href="#">Privacy policy</a>
      <a mat-list-item href="#">Report a bug</a>
      <a mat-list-item href="#">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-header></app-header>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="main-wrapper">
      <main>
          <router-outlet></router-outlet>
      </main>
  </div><app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

