<nav>
    <ul class="nav-links">
        <li>
            <a routerLink="szwagierDashboard"><mat-icon>dashboard</mat-icon>Dashboard</a>
        </li>
        <li>
            <a routerLink="project"><mat-icon>list_alt</mat-icon>Project</a>
        </li>
        <li>
            <a routerLink="group"><mat-icon>group</mat-icon>Groups</a>
        </li>
        <!-- <li>
            <a routerLink="webrtc">webrtc</a>
        </li> -->
    </ul>
    <div class="logout-wrapper">
        <button mat-button (click)="logout()"><mat-icon>power_settings_new</mat-icon>Logout</button>
    </div>
</nav>