<nav>
    <ul class="nav-links">
        <li>
          <button mat-button routerLink="szwagierDashboard"><mat-icon>dashboard</mat-icon>Dashboard</button>
        </li>
        <li>
          <button mat-button routerLink="project"><mat-icon>list_alt</mat-icon>Project</button>
        </li>
        <li>
          <button mat-button routerLink="group"><mat-icon>group</mat-icon>Groups</button>
        </li>
    </ul>
    <div class="logout-wrapper">
        <button color="accent" mat-flat-button (click)="logout()"><mat-icon>power_settings_new</mat-icon>Logout</button>
    </div>
</nav>
