.main-wrapper {
  width: 0px !important;
}
.container {
  height: 100%;
  z-index: 1;
}

.colorful {
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //filter: grayscale(80%);
  position: absolute;
    background:
      -webkit-linear-gradient(315deg, hsla(49.81, 75.77%, 49.02%, 1) 0%, hsla(49.81, 75.77%, 49.02%, 0) 70%),
      -webkit-linear-gradient(65deg, hsla(23.46, 99.43%, 40.25%, 1) 10%, hsla(23.46, 99.43%, 40.25%, 0) 80%),
      -webkit-linear-gradient(135deg, hsla(142.64, 83.67%, 35.51%, 1) 15%, hsla(142.64, 83.67%, 35.51%, 0) 80%),
      -webkit-linear-gradient(205deg, hsla(199.8, 69.81%, 22.26%, 1) 100%, hsla(199.8, 69.81%, 22.26%, 0) 70%);
    background:
      linear-gradient(135deg, hsla(49.81, 75.77%, 49.02%, 1) 0%, hsla(49.81, 75.77%, 49.02%, 0) 70%),
      linear-gradient(25deg, hsla(23.46, 99.43%, 40.25%, 1) 10%, hsla(23.46, 99.43%, 40.25%, 0) 80%),
      linear-gradient(315deg, hsla(142.64, 83.67%, 35.51%, 1) 15%, hsla(142.64, 83.67%, 35.51%, 0) 80%),
      linear-gradient(245deg, hsla(199.8, 69.81%, 22.26%, 1) 100%, hsla(199.8, 69.81%, 22.26%, 0) 70%);
  }

/*#background-img {
  height: 100%;
  width: 100%;
  background: url("/assets/images/HiResHead2_0000_OH Walnut Creek 5.jpg") no-repeat center center fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(80%);
  position: absolute;
}*/

.login-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100px;
  }
}

.row {
  height: 100%;
}

input {
  width: 100%;
  padding-left: 5px;
}

.center-vertical {
  margin-top: auto;
  margin-bottom: auto;
}

#form {
  background-color: white;
  padding: 21px;
  border-radius: 15px;
  margin-top: 2rem;
  border: 1px solid rgb(94, 94, 94);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: rgb(124, 122, 122) 0px 2px 3px;
  -moz-box-shadow: rgb(85, 85, 85) 0px 2px 3px;
  box-shadow: rgb(83, 83, 83) 0px 2px 3px;
  behavior: url(/pie/PIE.htc);
}

h1,
p {
  text-align: center;

  line-height: 1.5;
  color: #666666;
}

#loginBtn {
  margin-top: 10px;
  height: 45px;
  border-radius: 25px;
}

#forgotPass {
  font-size: 12px;
  text-align: right;
  margin: 0;
  cursor: pointer;
}

.social-media {
  text-align: center;

  a {
    color: white !important;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    margin: 5px;
    text-decoration: none;
    .fa {
      font-size: 25px;
      justify-content: center;
      align-items: center;
    }
  }
  a:hover {
    background-color: #333333;
    text-decoration: none;
  }
  .facebook-wrapper {
    background-color: #3b5998;
    color: white;
  }
  .twitter-wrapper {
    color: white;
    background-color: #1da1f2;
  }
  .google-wrapper {
    color: white;
    background-color: #ea4335;
  }
}

#sing-up {
  cursor: pointer;
}
.sign-up-div {
  margin: 10px;
}

#unathorized {
  color: #9f6000;
  background-color: #feefb3;
  margin: 10px 0;
}
